# OOP
**OOP (Object Oriented Programming)** is a programming paradigm that used to structure a program by bundling related properties and behaviors into individual objects.

Its main concepts are:
- Class
- Object
- Inheritance
- Polymorphism
- Encapsulation
- Abstraction
- Message Passing
- Dynamic Binding
- Overloading
- Overriding

### Real world Application of OOP
- In web development -> Django, Flask -> both are frameworks based on OOP concepts
- In game development -> Pygame -> a library based on OOP concepts
- In GUI development -> Tkinter, PyQt
- In data science -> Pandas, Numpy
- In machine learning -> Scikit-learn, Tensorflow, Pytorch
- In web scraping -> Beautifulsoup, Scrapy
- In automation -> Selenium, PyAutoGUI
- In networking -> Socket programming
- In database management -> SQLAlchemy, Django ORM
- In testing -> Unittest, Pytest
- In data visualization -> Matplotlib, Seaborn, Plotly
- In scientific computing -> SciPy
- In natural language processing -> NLTK, SpaCy

# Class
A class is a blueprint for creating objects. It defines a set of attributes and methods that the created objects will have.
- It's a user defined datatype , that defines its own data members and member functions
- Syntax to create a class
```python
class ClassName:
  # attributes
  # methods
```

- Data members/attributes -> variables that hold data
- Member functions/methods -> functions that define behavior

## Object
An object is an instance of a class. It is created using the class constructor and can access the attributes and methods defined in the class.
- syntax to create an object
```python
objectname = classname()
```

Consider a real-world example of a car. A car has properties such as color, make, model, and year. It also has behaviors such as starting, stopping, and accelerating. In OOP, we can represent a car as a class, which defines its properties and behaviors. We can then create objects (instances) of the car class, each with its own unique properties and behaviors, such as lamborghini, ferrari etc.

In [3]:
L = [1,2,3]

L.upper()

AttributeError: 'list' object has no attribute 'upper'

`L` is an object of the list class. The list class has a method called 'append' that allows us to add elements to the list. However, it does not have a method called 'upper', which is why we get an error when we try to call it.

In [4]:
s = 'hello'
s.append('x')

AttributeError: 'str' object has no attribute 'append'

`s` is an object of the string class. The string class has a method called 'upper' that allows us to convert the string to uppercase. However, it does not have a method called 'append' .

In [5]:
L = [1,2,3]
print(type(L))

<class 'list'>

In [6]:
s = [1,2,3]

In [ ]:
# syntax to create an object

#objectname = classname()

In [8]:
# object literal => It is a way to create an object without using a class , here we are using the built in datatype list to create an object
L = [1,2,3]

In [ ]:
L = list()  # This is also a way to create an object using the built in datatype list
L

In [ ]:
s = str()
s

In [9]:
# Pascal Case

HelloWorld

NameError: name 'HelloWorld' is not defined

In [ ]:
class Atm:

  # constructor(special function)->superpower ->
  def __init__(self):
    print(id(self))
    self.pin = ''
    self.balance = 0
    #self.menu()

  def menu(self):
    user_input = input("""
    Hi how can I help you?
    1. Press 1 to create pin
    2. Press 2 to change pin
    3. Press 3 to check balance
    4. Press 4 to withdraw
    5. Anything else to exit
    """)

    if user_input == '1':
      self.create_pin()
    elif user_input == '2':
      self.change_pin()
    elif user_input == '3':
      self.check_balance()
    elif user_input == '4':
      self.withdraw()
    else:
      exit()

  def create_pin(self):
    user_pin = input('enter your pin')
    self.pin = user_pin

    user_balance = int(input('enter balance'))
    self.balance = user_balance

    print('pin created successfully')
    self.menu()

  def change_pin():
    old_pin = input('enter old pin')

    if old_pin == self.pin:
      # let him change the pin
      new_pin = input('enter new pin')
      self.pin = new_pin
      print('pin change successful')
      self.menu()
    else:
      print('nai karne de sakta re baba')
      self.menu()

  def check_balance(self):
    user_pin = input('enter your pin')
    if user_pin == self.pin:
      print('your balance is ',self.balance)
    else:
      print('chal nikal yahan se')

  def withdraw(self):
    user_pin = input('enter the pin')
    if user_pin == self.pin:
      # allow to withdraw
      amount = int(input('enter the amount'))
      if amount <= self.balance:
        self.balance = self.balance - amount
        print('withdrawl successful.balance is',self.balance)
      else:
        print('abe garib')
    else:
      print('sale chor')
    self.menu()

In [ ]:
obj1 = Atm()

In [ ]:
id(obj1)

In [ ]:
obj2 = Atm()

In [ ]:
id(obj2)

In [ ]:
L = [1,2,3]
len(L) # function ->bcos it is outside the list class
L.append()# method -> bcos it is inside the list class

In [ ]:
class Temp:

  def __init__(self):
    print('hello')

obj = Temp()

In [ ]:
3/4*1/2

In [ ]:
class Fraction:

  # parameterized constructor
  def __init__(self,x,y):
    self.num = x
    self.den = y

  def __str__(self):
    return '{}/{}'.format(self.num,self.den)

  def __add__(self,other):
    new_num = self.num*other.den + other.num*self.den
    new_den = self.den*other.den

    return '{}/{}'.format(new_num,new_den)

  def __sub__(self,other):
    new_num = self.num*other.den - other.num*self.den
    new_den = self.den*other.den

    return '{}/{}'.format(new_num,new_den)

  def __mul__(self,other):
    new_num = self.num*other.num
    new_den = self.den*other.den

    return '{}/{}'.format(new_num,new_den)

  def __truediv__(self,other):
    new_num = self.num*other.den
    new_den = self.den*other.num

    return '{}/{}'.format(new_num,new_den)

  def convert_to_decimal(self):
    return self.num/self.den

In [ ]:
fr1 = Fraction(3,4)
fr2 = Fraction(1,2)

In [ ]:
fr1.convert_to_decimal()
# 3/4

In [ ]:
print(fr1 + fr2)
print(fr1 - fr2)
print(fr1 * fr2)
print(fr1 / fr2)

In [ ]:
s1={1,2,3}
s2={3,4,5}

s1 + s2

In [ ]:
print(fr1 - fr2)